ASPNETCORE_ENVIRONMENT=Development
ClientOrigin=http://localhost:5008
ConnectionStrings__SkillSnap=Data Source=/data/skillsnap.db
DataProtection__KeysPath=/keys
Admin__Email=cristoferlee01@gmail.com
Admin__Password=@Lee01061997